* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: #FFFFFF;
}

.contemplete {
    width: 920px;
    margin: 0 auto;    
}

.templete {
    width: 920px;
    margin: 0 auto;
}

.clear {
    overflow: hidden;
}

.headersection{
    
    width: 800px;
    height: 386px;
    background-image: url(images/hero-cover.jpg);
    background-size: cover;
    
}

.headersection img{
    width: 72px;
    height: 18px;
    float: left;
    margin: 20px 0px 0px 112px;
    padding: 1px;
}

.menu{
    list-style-type: none;
    margin: 20px 0px 0px 380px;
    padding: 0;
    overflow: hidden;   
}

ul li{
    float: left;
}

ul li a{
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 8px;
    font-family: Verdana;
    cursor: pointer;
}

.button {
    background-color: #FFCC00;
    border: none;
    color: #000000;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 2px 0px 0px 10px;
    cursor: pointer;
    width: 42px;
    height: 9px;
    border-radius: 1px;
}

.time{
    font-size: 30px;
    padding: 0px 0px 0px 0px;
    margin: 103px 0px 0px 112px;
}

span1{
    color: #FFF200;
}

span2{
    color: #FF8A00;
    margin: 0px 0px 0px 40px;
}

span3{
    color: #00B9FF;
    margin: 0px 0px 0px 40px;
}

span4{
    color: #8DC63F;
    margin: 0px 0px 0px 40px;
}

.timetext{
    list-style-type: none;
    font-size: 13px;
    color: #FFFFFF;
    overflow: hidden;
    margin: 0px 0px 0px 112px; 
}

.txt1{
    margin: 0px 0px 0px 0px;
}

.txt2{
    margin: 0px 0px 0px 36px;
}

.txt3{
    margin: 0px 0px 0px 40px;
}

.txt4{
    margin: 0px 0px 0px 27px;
}

h2{
    color: #ffffff;
    font-size: 30px;
    margin: 10px 0px 0px 112px;
}

h4{
    color: #ffffff;
    font-size: 13px;
    margin: 10px 0px 0px 112px;
}

.artsection{
    background: #FFFFFF;
    width: 800px;
    height: 268px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.artsection>div{
    border: 1px solid #222;
}
.artsection>div:nth-child(odd){
    border: 1px solid #FFCC00;
}

.art1 img{
    width: 275px;
    height: 179px;
    margin: 45px 0px 0px 117px;
    border-radius: 1px;
}