* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: #67607E
}

.contemplete {
    width: 960px;
    margin: 0 auto;    
}

.templete {
    width: 960px;
    margin: 0 auto;
}

.clear {
    overflow: hidden;
}

.headersection{
    
    width: 960px;
    height: 460px;
    background-image: url(images/hero-cover.jpg);
    background-size: cover;
    
}

.headersection img{
    width: 72px;
    height: 18px;
    float: left;
    margin: 30px 0px 0px 140px;
    padding: 1px;
}