* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: #D6D6D6
}

.contemplete {
    width: 920px;
    margin: 0 auto;    
}

.templete {
    width: 920px;
    margin: 0 auto;
}

.clear {
    overflow: hidden;
}

.headersection{
    
    width: 800px;
    height: 386px;
    background-image: url(images/hero-cover.jpg);
    background-size: cover;
    
}

.headersection img{
    width: 72px;
    height: 18px;
    float: left;
    margin: 20px 0px 0px 112px;
    padding: 1px;
}

ul{
    list-style-type: none;
    margin: 20px 0px 0px 380px;
    padding: 0;
    overflow: hidden;   
}

ul li{
    float: left;
}

ul li a{
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 8px;
    font-family: Verdana;
    cursor: pointer;
}

.button {
    background-color: #FFCC00;
    border: none;
    color: #000000;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 2px 0px 0px 10px;
    cursor: pointer;
    width: 42px;
    height: 10px;
    border-radius: 1px;
}

h2{
    color: #ffffff;
    font-size: 30px;
    margin: 160px 0px 0px 112px;
}

p{
    color: #ffffff;
    font-size: 13px;
    margin: 10px 0px 0px 112px;
}